main(id="splendid-main-container" class="padding_t_0")
    section(class="margin_b_60 first-screen")
        .container
            p(class="logo-label") SWAY
            h1(class="margin_t_0") The power to change minds.
            p(class="margin_b_40 hidden-sm-down") Advocate for you values throught effective digital communication.

            .main-form
                .main-form__menu
                    ul.nav#myTab(role="tablist")
                        li.nav-item
                            a(
                            class="nav-link active"
                            id="formLink-tab"
                            data-toggle="tab"
                            href="#formLink"
                            role="tab"
                            aria-controls="formLink"
                            aria-selected="true")
                                i.class.icon-Ad_link
                                    svg(
                                    width="26"
                                    height="26"
                                    viewBox="0 0 26 26"
                                    id="Ad_Link"
                                    y="26"
                                    )
                                        title Ad_Link
                                        path(
                                        fill="#2B2B2B"
                                        fill-rule="nonzero"
                                        d="M23.98 11.78l-4.881 4.88a6.899 6.899 0 0 1-9.759 0c-.424-.424-.756-.9-1.048-1.392L10.56 13c.108-.109.241-.171.368-.244.157.535.43 1.042.852 1.464a3.453 3.453 0 0 0 4.88 0l4.878-4.88a3.453 3.453 0 0 0 0-4.88 3.454 3.454 0 0 0-4.879 0l-1.735 1.738a8.657 8.657 0 0 0-4.402-.48l3.698-3.697a6.902 6.902 0 0 1 9.76 9.76zm-12.903 8.023L9.34 21.54a3.456 3.456 0 0 1-4.88 0 3.456 3.456 0 0 1 0-4.88l4.88-4.88a3.452 3.452 0 0 1 4.88 0c.42.42.694.928.852 1.463.128-.075.26-.135.367-.243l2.268-2.267a6.782 6.782 0 0 0-1.048-1.392 6.9 6.9 0 0 0-9.759 0L2.021 14.22a6.902 6.902 0 0 0 9.76 9.76l3.697-3.698a8.652 8.652 0 0 1-4.401-.479z"
                                        )