block userLogin
	- var authorised = false

if authorised
	.mobile-menu.login-user
		ul
			li
				a(href="javascript:void(0)")
					i(class="fa fa-signal", aria-hidden="true")
			li
				a(href="javascript:void(0);")
					i(class="fa fa-home", aria-hidden="true")
			li
				a(href="javascript:void(0);")
					i(class="fa fa-user", aria-hidden="true")

else
	.mobile-menu
		ul
			li
				a(
				href="javascript:void(0)",
				class="active",
				data-toggle="modal",
				data-target="#signIn"
				) sign in
			li
				a(
				href="javascript:void(0);",
				data-toggle="modal",
				data-target="#signUp"
				) sign up